################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Wibci.Xamarin.Images/Wibci.Xamarin.Images/bin/Debug
/Wibci.Xamarin.Images/Wibci.Xamarin.Images/obj/Debug
/Wibci.Xamarin.Images/Wibci.Xamarin.Images.Droid/obj/Debug
/Wibci.Xamarin.Images.iOS/obj/Debug
/Wibci.Xamarin.Images.UWP/bin/Debug
/Wibci.Xamarin.Images.UWP/obj/Debug
/nuget
/Wibci.Xamarin.Images/Wibci.Xamarin.Images/bin/Release
/Wibci.Xamarin.Images/Wibci.Xamarin.Images/obj/Release
/Wibci.Xamarin.Images/Wibci.Xamarin.Images.Droid/bin/Release
/Wibci.Xamarin.Images/Wibci.Xamarin.Images.Droid/obj/Release
/Wibci.Xamarin.Images.iOS/bin/Release
/Wibci.Xamarin.Images.iOS/obj/Release/build-signature
/Wibci.Xamarin.Images.iOS/obj/Release
/Wibci.Xamarin.Images.UWP/bin/Release
/Wibci.Xamarin.Images.UWP/obj/Release
/SampleApp/Wibci.Xamarin.Images.SampleApp/bin/Debug
/SampleApp/Wibci.Xamarin.Images.SampleApp/obj
/SampleApp/Wibci.Xamarin.Images.SampleApp.Android/obj
/SampleApp/Wibci.Xamarin.Images.SampleApp.iOS/bin/iPhone/Debug
/SampleApp/Wibci.Xamarin.Images.SampleApp.iOS/obj/iPhone
/SampleApp/Wibci.Xamarin.Images.SampleApp.UWP/bin/x86/Debug
/SampleApp/Wibci.Xamarin.Images.SampleApp.UWP/obj/x86
/Wibci.Xamarin.Images/Wibci.Xamarin.Images.Droid/bin/Debug
/Wibci.Xamarin.Images.iOS/bin/Debug
/SampleApp/Wibci.Xamarin.Images.SampleApp.Android/bin/Debug
/.vs/slnWibciXamarinImages/v15
/SampleApp/Wibci.Xamarin.Images.SampleApp/bin/Release
/SampleApp/Wibci.Xamarin.Images.SampleApp.Android/bin/Release
/SampleApp/Wibci.Xamarin.Images.SampleApp.iOS/bin/iPhoneSimulator/Debug
/SampleApp/Wibci.Xamarin.Images.SampleApp.iOS/obj/iPhoneSimulator/Debug
/.vs
/Wibci.Xamarin.Images.UWP/obj
/SampleApp/Wibci.Xamarin.Images.SampleApp.UWP/obj
/Wibci.Xamarin.Images.UWP/bin/x86/Release
/SampleApp/Wibci.Xamarin.Images.SampleApp.iOS/bin/iPhone/Release
/Wibci.Xamarin.Images/Wibci.Xamarin.Images.Droid/obj
/SampleApp_oldie/Wibci.Xamarin.Images.SampleApp/obj
/SampleApp_oldie/Wibci.Xamarin.Images.SampleApp.iOS/obj/iPhone/Release
/SampleApp_oldie/Wibci.Xamarin.Images.SampleApp.UWP/obj
/Wibci.Xamarin.Images.SampleApp/Wibci.Xamarin.Images.SampleApp/bin
/Wibci.Xamarin.Images.SampleApp/Wibci.Xamarin.Images.SampleApp/obj
/Wibci.Xamarin.Images.SampleApp/Wibci.Xamarin.Images.SampleApp.Android/bin
/Wibci.Xamarin.Images.SampleApp/Wibci.Xamarin.Images.SampleApp.Android/obj
/Wibci.Xamarin.Images.SampleApp/Wibci.Xamarin.Images.SampleApp.iOS/bin/iPhoneSimulator/Debug
/Wibci.Xamarin.Images.SampleApp/Wibci.Xamarin.Images.SampleApp.iOS/obj
/Wibci.Xamarin.Images.SampleApp/Wibci.Xamarin.Images.SampleApp.UWP/bin/x86/Release
/Wibci.Xamarin.Images.SampleApp/Wibci.Xamarin.Images.SampleApp.UWP/obj
